@using Medicoz.Application.Features.Products.Queries.GetProductByIdDetail
@model ProductDetailDTO
@{
    double rating = Model.Rating;
}
<!--Page Title-->
<section class="page-title" style="background-image: url(images/background/8.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Shop Single</h1>
            <ul class="page-breadcrumb">
                <li><a asp-action="index" asp-controller="shop">Shop</a></li>
                <li>@Model.Name</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="shop-single">
                    <div class="product-details">
                        <!--Basic Details-->
                        <div class="basic-details">
                            <div class="row clearfix">
                                <div class="image-column col-md-6 col-sm-12">
                                    <figure class="image-box"><a asp-action="detail" asp-controller="shop" asp-route-id="@Model.ProductId" class="lightbox-image" title="Image Caption Here"><img src="~/uploads/images/@Model.ImageUrl" alt=""></a></figure>
                                </div>
                                <div class="info-column col-md-6 col-sm-12">
                                    <div class="details-header">
                                        <h4>@Model.Name</h4>

                                        <div class="item-price">$@Model.Price.00 </div>
                                    </div>

                                    <div class="text">@Model.Description</div>
                                    <div class="other-options clearfix">

                                        <form method="post" asp-action="AddToBasket" asp-controller="Shop" asp-route-id="@Model.ProductId">
                                            <button type="submit" class="theme-btn btn-style-one add-to-cart">Add to cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Basic Details-->
                        <!--Product Info Tabs-->
                        <div class="product-info-tabs">
                            <!--Product Tabs-->
                            <div class="prod-tabs tabs-box">

                                <!--Tab Btns-->
                                <ul class="tab-btns tab-buttons clearfix">
                                    <li data-tab="#prod-details" class="tab-btn">Descripton</li>
                                </ul>

                                <!--Tabs Container-->
                                <div class="tabs-content">

                                    <!--Tab-->
                                    <div class="tab" id="prod-details">
                                        <div class="content">
                                            <h3>Product Descripton</h3>
                                            <p>@Model.Description</p>
                                        </div>
                                    </div>
                                    <!--Tab-->

                                </div>
                            </div>
                        </div>
                        <!--End Product Info Tabs-->
                    </div>
                </div>
            </div>

            <!--Sidebar Side-->
            @await Component.InvokeAsync("Sidebar", false)

        </div>
    </div>
</div>
<!-- End Sidebar Container -->
<!-- Clients Section -->
<section class="clients-section alternate">
    <div class="auto-container">

        <!-- Sponsors Outer -->
        <div class="sponsors-outer">
            <!--clients carousel-->
            <ul class="clients-carousel owl-carousel owl-theme">
                <li class="slide-item"> <a href="#"><img src="images/clients/1.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/2.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/3.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/4.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/5.png" alt=""></a> </li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section -->
<style>
    .preloader {
        position: unset !important;
    }
</style>