@using Medicoz.Application.ViewModels
@using Medicoz.MVC.ViewModels
@model DoctorDetailViewModel
@using Medicoz.Application.Contracts.Localisation
@using Medicoz.Domain
@inject IStaticDataLocalisationService<LocalizedStaticEntity> _IStaticDataLocalisationService

<!--End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image: url(images/background/8.jpg);">
    <div class="auto-container">
        <div class="title-outer">
            <h1>Dedicated Doctor</h1>
            <ul class="page-breadcrumb">
                <li><a asp-action="index" asp-controller="home">Home</a></li>
                <li>Doctors</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Doctor Detail Section -->
<section class="doctor-detail-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Side -->
            <div class="content-side col-lg-8 col-md-12 col-sm-12 order-2">
                <div class="docter-detail">
                    <h3 class="name">Dr. @Model.Name @Model.Surname</h3>
                    <span class="designation">@Model.Title</span>
                    <div class="text">@Model.Description</div>
                    <ul class="doctor-info-list">
                        <li>
                            <strong>@(_IStaticDataLocalisationService.GetLocalizedValue("Speciality"))</strong>

                            @foreach (var item2 in Model.NamesDeps)
                            {
                                <p>@item2 </p>

                            }
                        </li>
                        <li>
                            <strong>@(_IStaticDataLocalisationService.GetLocalizedValue("Education"))</strong>
                            <p>@Model.Education</p>
                        </li>
                        <li>
                            <strong>@(_IStaticDataLocalisationService.GetLocalizedValue("detExperience"))</strong>
                            <p>@Model.Experience</p>
                        </li>
                        @* <li>
                        <strong>Timing</strong>
                        <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        See Doctor Schedule
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var item in Model.DoctorSchedulesOnMonday)
                        {
                        <a class="dropdown-item">
                        @item.DayOfWeek @item.StartTime.ToString("T") - @item.EndTime.ToString("T")
                        </a>
                        }
                        </div>
                        </div>
                        </li> *@
                        <li>
                            <strong>@(_IStaticDataLocalisationService.GetLocalizedValue("Phone"))</strong>
                            <p><a href="#">@Model.Phone</a></p>
                        </li>
                        <li>
                            <strong>Email</strong>
                            <p><a href="#">@Model.Email</a></p>
                        </li>
                    </ul>
                </div>

                <div class="appointment-form default-form">
                    <div class="sec-title">
                        <span class="sub-title">@(_IStaticDataLocalisationService.GetLocalizedValue("Online"))</span>
                        <h2>@(_IStaticDataLocalisationService.GetLocalizedValue("resdo"))</h2>
                        <span class="divider"></span>
                    </div>

                    <!--Comment Form-->
                    <form method="post" asp-action="detail" asp-controller="doctor" asp-route-doctorId="@Model.Id">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-12">
                                <input asp-for="MakeAnAppointmentCommand.PasentName" placeholder="Your Name">
                            </div>

                            <div class="form-group col-lg-6 col-md-12">
                                <input asp-for="MakeAnAppointmentCommand.PasentPhone" placeholder="Your Phone">
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <input asp-for="MakeAnAppointmentCommand.PasentEmail" placeholder="Your Email *">
                            </div>

                            <div class="form-group col-lg-12 col-md-12">
                                <textarea asp-for="MakeAnAppointmentCommand.PasentNotes" placeholder="Tell us about Pasent"></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12">
                                <input asp-for="MakeAnAppointmentCommand.ReservationDate" class=" p-1" style="border:1px solid #e1e1e1ff;" value="now" />
                            </div>
                            @*   <div class="form-group col-lg-12 col-md-12 mt-5">
                            <button class="theme-btn btn-style-two" type="submit" >Submit<span class="btn-title">Submit Query</span></button>
                            </div> *@
                            <button  class="theme-btn btn-style-two ml-3" type="submit">@(_IStaticDataLocalisationService.GetLocalizedValue("Submit"))</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <div class="sidebar">
                    <!-- Team Block -->
                    <div class="team-block wow fadeInUp">
                        <div class="inner-box">
                            <figure class="image"><img src="~/uploads/images/@Model.ImageURL" alt=""></figure>
                            <ul class="social-links">
                                <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                                <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Doctor Availability -->
                    <div class="docter-availability">
                        <div class="inner">
                            <div class="sec-title">
                                <span class="sub-title">Fee</span>
                                <h3>@Model.Fee$</h3>
                                <span class="divider"></span>
                                <div class="text">@(_IStaticDataLocalisationService.GetLocalizedValue("resappo")) </div>
                            </div>
                            <ul class="timing-list-two">
                                @foreach (var item in Model.ReservedDoctorAppointments)
                                {
                                    <li>@item.ReservationDate.ToString("d") <span>  @item.DoctorSchedule.StartTime.ToString("T") - @item.DoctorSchedule.EndTime.ToString("T")</span></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Doctor Detail Section -->
<!-- Time Table Section -->

<section class="time-table-section">
    <div class="auto-container">
        <div class="table-outer">
            <!-- Doctors Time Table -->
            <table class="doctors-time-table">
                <thead>

                    <tr>
                        <th class="dark" style="">Time Table</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Monday"))</th>
                        @if (Model.DoctorSchedulesOnMonday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnMonday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Tuesday"))</th>
                        @if (Model.DoctorSchedulesOnTuesday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnTuesday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Wednesday"))</th>
                        @if (Model.DoctorSchedulesOnWednesday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnWednesday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Thursday"))</th>
                        @if (Model.DoctorSchedulesOnThursday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnThursday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Friday"))</th>
                        @if (Model.DoctorSchedulesOnFriday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnFriday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Saturday"))</th>
                        @if (Model.DoctorSchedulesOnSaturday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnSaturday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>
                    <tr>
                        <th>@(_IStaticDataLocalisationService.GetLocalizedValue("Sunday"))</th>
                        @if (Model.DoctorSchedulesOnSunday.Count == 0)
                        {
                            <td>@(_IStaticDataLocalisationService.GetLocalizedValue("NotWorking"))</td>
                        }
                        @foreach (var item in Model.DoctorSchedulesOnSunday)
                        {
                            <td>
                                @item.StartTime.TimeOfDay
                            </td>

                        }
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End Time Table Section -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="images/resource/team-1.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="images/resource/team-2.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="images/resource/team-3.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <figure class="image"><img src="images/resource/team-4.jpg" alt=""></figure>
                    <ul class="social-links">
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    </ul>
                    <div class="info-box">
                        <h4 class="name"><a href="doctor-detail.html">Dr. Morila Wood</a></h4>
                        <span class="designation">Senior Dr. at Delmont</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Section -->
<!-- Clients Section -->
<section class="clients-section alternate">
    <div class="auto-container">

        <!-- Sponsors Outer -->
        <div class="sponsors-outer">
            <!--clients carousel-->
            <ul class="clients-carousel owl-carousel owl-theme">
                <li class="slide-item"> <a href="#"><img src="images/clients/1.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/2.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/3.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/4.png" alt=""></a> </li>
                <li class="slide-item"> <a href="#"><img src="images/clients/5.png" alt=""></a> </li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section -->
